@using Microsoft.AspNetCore.Mvc.ModelBinding
@model Tailors.Web.Features.Tweed.CreateTweedViewModel

<form method="post" action="@Url.Action("Create")">

    @if (ViewData.ModelState.GetValidationState("text") == ModelValidationState.Invalid)
    {
        <sl-textarea name="Text" label="Text" rows="5" value="@Model.Text"></sl-textarea>
    }
    else
    {
        <sl-textarea name="Text" label="Text" rows="5" placeholder="Type something" value="@Model.Text"></sl-textarea>
    }

    <sl-button type="submit" variant="primary">
        Submit
    </sl-button>
</form>
