@using Microsoft.AspNetCore.Mvc.ModelBinding
@model Tailors.Web.Features.Tweed.CreateTweedViewModel

<form method="post" action="@Url.Action("Create")">
    <div class="mb-3">
        <label for="text" class="form-label">Text</label>

        @if (ViewData.ModelState.GetValidationState("text") == ModelValidationState.Invalid)
        {
            <textarea rows="5" class="form-control is-invalid" 
                id="text" value="@Model.Text"
                name="Text" aria-describedby="validationTextFeedback"></textarea>
            <div id="validationTextFeedback" class="invalid-feedback">
                Please enter a text.
            </div>
        }
        else
        {
            <textarea rows="5" class="form-control"
                id="text" value="@Model.Text" name="Text"></textarea>
        }
    </div>

    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>
