@model Tailors.Web.Features.Tweed.CreateTweedViewModel

<div class="m-3">
    <form method="post"
          action="@Url.Action(controller: "Tweed", action: "Create")">
        <div class="mb-3">
            <textarea rows="5" 
                      class="px-3 py-3 placeholder-slate-500 text-slate-800 rounded text-sm border-0 shadow outline-none focus:outline-none focus:ring w-full" placeholder="What's happening?"
                      id="text" 
                      value="@Model.Text" 
                      name="Text" 
                      required 
                      oninvalid="this.setCustomValidity('What are you thinking?')"
                      oninput="this.setCustomValidity('')"></textarea>
        </div>

        @if (Model.ParentTweedId is not null)
        {
            <input type="hidden"
                   name="ParentTweedId"
                   value="@Model.ParentTweedId" />
        }

        <button type="submit"
                class="bg-blue-500 text-white active:bg-lightBlue-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">
            Submit
        </button>
    </form>
</div>
