@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout!;
    }
}

<h1 class="mb-4">Account</h1>

<div>
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav"/>
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", false)
}
