@using IndexViewModel = Tailors.Web.Features.Profile.IndexViewModel
@using Tailors.Web.Helper
@model IndexViewModel
@{
    ViewData["Title"] = "Profile";
}

<h1>Profile for @Model.UserName</h1>
<h2>@Model.FollowersCount followers</h2>

@if (User.GetId() != Model.UserId)
{
    @if (Model.CurrentUserFollows)
    {
        <form method="post"
              asp-action="Unfollow"
              asp-route-userid="@Model.UserId">
            <button type="submit"
                    class="btn btn-primary">
                Unfollow
            </button>
        </form>
    }
    else
    {
        <form method="post"
              asp-action="Follow"
              asp-route-userid="@Model.UserId">
            <button type="submit"
                    class="btn btn-primary">
                Follow
            </button>
        </form>
    }
}

@foreach (var tweed in Model.Tweeds)
{
    <partial name="/Features/Tweed/_Tweed.cshtml"
             model="tweed" />
}
