@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1 class="mb-4">@ViewData["Title"]</h1>

<div class="row">
    <form id="account" method="post" class="col-md-6">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-floating mb-3">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
            <label asp-for="Input.Email" class="form-label"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true"/>
            <label asp-for="Input.Password" class="form-label"></label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="row mb-3">
            <div class="col">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe"/>
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>

            <div class="col">
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a>
            </div>
        </div>

        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary mb-3">Log in</button>

        <div class="text-center">
            Not a member? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
        </div>
    </form>

</div>
