@using Tweed.Web.Helper
@inject INotificationManager NotificationManager

@if (NotificationManager.SuccessMessage != null)
{
    <div class="alert alert-success" role="alert">
        @NotificationManager.SuccessMessage
    </div>
}

@{
    NotificationManager.Clear();
}
