@page
@model CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post">
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <input type="text" class="form-control" id="content" value="@Model.Text" name="Content" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
