@page
@model CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post">
    Content: <input asp-for="Tweed!.Content"/>
    <span asp-validation-for="Tweed!.Content"></span>
    <input type="submit"/>
</form>
