@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

@foreach (var tweed in Model.Tweeds)
{
    <div class="card mt-2">
        <div class="card-body">
            <div class="card-text">
                @tweed.Content
            </div>
        </div>
        <div class="card-footer small">
            @tweed.CreatedAt
        </div>
    </div>
}

<a class="btn btn-primary" asp-page="/create">Create</a>
