@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

@foreach (var tweed in Model.Tweeds)
{
    <div class="card mt-2">
        <div class="card-body">
            <div class="card-text">
                @tweed.Text
            </div>
        </div>
        <div class="card-footer small">
            <small class="text-muted">@tweed.AuthorId</small>
        </div>
        <div class="card-footer small">
            <small class="text-muted">@tweed.CreatedAt</small>
        </div>
    </div>
}

<a class="btn btn-primary" asp-page="/create">Create</a>
