@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<ul>
    @foreach (var tweed in Model.Tweeds)
    {
        <li>@tweed.Content</li>
    }
</ul>

<a class="btn btn-primary" asp-page="/create">Create</a>
