@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<ul>
    @foreach (var tweed in Model.Tweeds)
    {
        <li>@tweed.Content</li>
    }
</ul>

<a asp-page="/create">Create Tweed</a>
