@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Tweed</h1>
</div>

<ul>
    @foreach (var tweed in Model.Tweeds)
    {
        <li>@tweed.Content</li>
    }
</ul>

<a asp-page="/create">Create Tweed</a>
