@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

@foreach (var tweed in Model.Tweeds)
{
    <div class="card mt-2">
        <div class="card-header">
            @tweed.Author
        </div>
        <div class="card-body">
            <div class="card-text">
                @tweed.Text
            </div>
        </div>
        <div class="card-footer small">
            <small class="text-muted">@tweed.CreatedAt</small>
            <form method="post">
                <button asp-page="/like" asp-route-id="@tweed.NumericId">
                    <i class="bi bi-balloon-heart" style="font-size: 1.5em"></i>
                </button>
            </form>
        </div>
    </div>
}

<a class="btn btn-primary" asp-page="/create">Create</a>
