@page
@model ProfilePageModel

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile for @Model.UserName</h1>

@foreach (var tweed in Model.Tweeds)
{
    <partial name="Shared/_Tweed" model="tweed"/>
}
