@model Microsoft.AspNetCore.Authentication.AuthenticationScheme[]

@{
    ViewData["Title"] = "Sign in";
}
<div class="flex justify-center">
    <div class="flex flex-col">
        <p class="mt-4">Sign in using</p>

        @foreach (var scheme in Model!.OrderBy(p => p.DisplayName))
        {
            <form action="/signin" method="post">
                <input type="hidden" name="Provider" value="@scheme.Name"/>
                <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl"/>

                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mt-2"
                        type="submit">
                    @scheme.DisplayName
                </button>
            </form>
        }
    </div>
</div>
