@using IndexViewModel = Tweed.Web.Views.Profile.IndexViewModel
@model IndexViewModel

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile for @Model.UserName</h1>

@foreach (var tweed in Model.Tweeds)
{
    <partial name="_Tweed" model="tweed"/>
}
