@using IndexViewModel = Tweed.Web.Views.Profile.IndexViewModel
@model IndexViewModel

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile for @Model.UserName</h1>

@if (Model.CurrentUserFollows)
{
    <form method="post">
        <button class="btn btn-primary" asp-action="Unfollow" asp-route-userid="@Model.UserId">Unfollow</button>
    </form>
}
else
{
    <form method="post">
        <button class="btn btn-primary" asp-action="Follow" asp-route-userid="@Model.UserId">Follow</button>
    </form>
}

@foreach (var tweed in Model.Tweeds)
{
    <partial name="_Tweed" model="tweed"/>
}
