<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0"/>

    <title>@ViewData["Title"] - Tailors</title>

    <link rel="icon"
          type="image/png"
          href="/images/favicon.png"
          sizes="192x192">

    <script src="https://unpkg.com/htmx.org@1.9.2"></script>

    <link rel="stylesheet"
          href="~/css/site.css"
          asp-append-version="true"/>
    <link rel="stylesheet"
          href="~/Tailors.Web.styles.css"
          asp-append-version="true"/>
</head>
<body>

<header>
    <partial name="_NavBar"/>
</header>

<main role="main"
      class="max-w-screen-xl mx-auto p-4"
      id="main">
    <partial name="_Notification"/>
    @RenderBody()
</main>

<script src="~/js/site.js"
        asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", false)

</body>
</html>
