@using Tailors.Domain.UserAggregate
@inject SignInManager<AppUser> SignInManager

<nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Feed" asp-action="Index">
            <img src="/images/tweed.png" alt="Tweed Logo" width="24" height="24"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Tweed" asp-action="Create">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Search" asp-action="Index">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Feed")" method="post">
                            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                        </form>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

<style>
    body {
      padding-top: 60px;
    }
</style>
