@using Tailors.Domain.UserAggregate
@inject SignInManager<AppUser> SignInManager

<a asp-area="" asp-controller="Feed" asp-action="Index">
    <img src="/images/tweed.png" alt="Tweed Logo" width="24" height="24"/>
</a>

@if (SignInManager.IsSignedIn(User))
{
    <sl-button-group label="Alignment">
        <sl-button href="/Tweed/Create">Create</sl-button>
        <sl-button href="/Search">Search</sl-button>
        <sl-button href="/Identity/Account/Manage">Account</sl-button>
        <sl-button href="/Account/Logout">Logout</sl-button>
    </sl-button-group>
}
