@using Tailors.Web.Helper
@inject INotificationManager NotificationManager

@if (NotificationManager.SuccessMessage != null)
{
    <div role="alert">
        @NotificationManager.SuccessMessage
    </div>
}

@{
    NotificationManager.Clear();
}
