@model Tailors.Web.Features.Feed.FeedViewModel

<partial name="/Features/Tweed/_CreateTweed.cshtml"
         model="@Model.CreateTweed" />

@foreach (var tweed in Model.Tweeds)
{
    <partial name="/Features/Tweed/_Tweed.cshtml"
             model="tweed" />
}

@if (Model.NextPageExists)
{
    <div hx-get="@Url.Action("Feed", new { page = Model.Page + 1 })"
         hx-trigger="revealed"
         hx-swap="beforebegin">
    </div>
}
