@using IndexViewModel = Tweed.Web.Views.Home.IndexViewModel
@model IndexViewModel

@{
    ViewData["Title"] = "Home page";
}

<partial name="_NotificationPartial"/>

<h1>All Tweeds</h1>

@foreach (var tweed in Model.Tweeds)
{
    <partial name="_Tweed" model="tweed"/>
}

<a class="btn btn-primary" asp-controller="Tweed" asp-action="Create" up-follow>Create</a>
